<!DOCTYPE html>
<html>
<head>
  <title>Nouveau Potin</title>
</head>
<body>
  <h1>Créer un nouveau potin</h1>
  <form action="/gossips/new/" method="post">
    Auteur : <input type="text" name="gossip_author"><br>
    Contenu : <textarea name="gossip_content"></textarea><br>
    <input type="submit" value="Créer le potin">
  </form>
</body>
</html>
